achievement-bot:telegramToken = "<your telegram token>"
achievement-bot:useWebhook = false
#achievement-bot:webhookPort = 80
#achievement-bot:webhookEndpoint = "/api/v1/updates"
achievement-bot:tempChatId = "<your temp chat id>"
achievement-bot:fontPath = "./font.fnt"
achievement-bot:templatePath = "./template.png"
